.wrapper {
	width: 1200px;
	margin: 0 auto;
}
input {
	width: 600px;
	outline: none;
	height: 30px;
	border-radius: 10px;
	border: 1px solid purple;
	color: black;
	font-size: 20px;

}
button {
	width: 600px;
	outline: none;
	height: 30px;
	border-radius: 10px;
	background: purple;
	color: white;
	font-size: 20px;
	cursor: pointer;
}
.tlist>p {
	font-size: 20px;
	text-transform: uppercase;
	width: 600px;
	background: rgba(255, 0, 0, .3);
	border-radius: 10px;
	border: 1px solid black;
}
p>span {
	font-size: 15px;
	margin-left: 50px;
	cursor: pointer;

}
.tlist {
	margin-top: 40px;
}
.modal_block {
	position: fixed;
	display: none;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #595959;
	
}
.modal_text {
	background: white;
	margin: 10% auto;
	width: 60%;
	height: 50%;
}
.modal_text p {
	font-size: 20px;
	font-weight: 900;
}
.modal_text span {
	color: red;
	font-size: 20px;
	float: right;
	cursor: pointer;
}
.tab {
	margin-top: 50px;
}
ul {
	font-size: 0
}
ul>li {
	display: inline-block;
	border: 1px solid black;
}
li>a {
	width: 150px;
	color: white;
	font-size: 25px;
	background: yellow;
	display: block;
}

a:active{
	background: black;
	color: white;
}
li>a:hover {
	text-decoration: none;
	color: white;
}
.tab_content {
	display: none;
}
.content>.active {
	display: block;
}
.content {
	margin-left: 40px;
}
.game {
	width: 150px;
	height: 150px;
	background: red;
	font-size: 0;
	margin: 0 auto;
}
.game_item {
	width: 50px;
	height: 50px;
	float: left;
	font-size: 15px;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
}
